<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <a class="navbar-brand" href="https://bluegreensea.gitlab.io/MC">Minecraft Info</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
              <a class="nav-link" href="https://sites.google.com/view/27156444">舊網</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="daily.html">日常</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="new_mods_play.html">新模組</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="pvp.html">PvP</a>
          </li>
            
        </ul>
          
          <button type="button" class="btn btn-outline-success" id="server" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="">
            主伺服器狀態 <span id="status" class="badge badge-light">?</span>
          </button>
          
          <div class="dropdown mr-1">
              <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-discord"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                   <iframe src="https://discordapp.com/widget?id=110225355960238080&theme=light" width="350" height="500" allowtransparency="true" frameborder="0" ></iframe>
              </div>
          </div>
          
          <a class="btn btn-outline-success my-2 my-sm-0" href="index_old.html">切換至舊版首頁</a>
          
      </div>
    </nav>
</header>