<div class="jumbotron">
              <div class="text-center">
                  <h1 class="display-1">PvP</h1>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <p class="h1">PvP地圖一覽</p>
              </div>
              <div class="row">
                  <div class="col-md m-2" >
                      <iframe height="261" aria-label="Spreadsheet" class="w-100 embed-responsive-item" frameborder="0" src="https://docs.google.com/spreadsheets/u/0/d/1cptDT0hKheynDicI14yIr-dd52DohoFQcjfu3V8rYtw/htmlembed/sheet?headers=false&gid=871252253"></iframe>
                  </div>
              </div>
          </div>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md my-1">
                      <p class="h1">所有影片</p>
                      <div class="embed-responsive  embed-responsive-16by9">
                          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/videoseries?list=PLXh1fqkEw0f6ad-eELtPube-6lJz8_u6O" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="col-md my-1">
                      <p class="h1">箭術</p>
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLXh1fqkEw0f59tbXkHP_R-N7g3-WfmJ6Z"  allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="col-md my-1">
                      <p class="h1">Hypixel:Bed Wars</p>
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLXh1fqkEw0f7j9HG7NN6KwQqP0flBDM-C"  allowfullscreen></iframe>
                      </div>
                  </div>
                </div>
          </div>