<div class="jumbotron">
              <div class="text-center">
                  <h1 class="display-1">日常</h1>
                  <h2 class=""><span class="badge badge-secondary">Minecraft Wednesday</span></h2>
                  <h3><span class="badge badge-light">每週三 晚上</span></h3>
              </div>
</div>
          <div class="container-fluid">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 img-fluid" src="https://www.dropbox.com/s/r74ppvfcau53ntd/2017-06-27_12.14.40_%E8%88%8A%E7%89%88%281.11.2%29%E7%A9%BA%E6%8B%8D.png?dl=1" alt="First slide">
                </div>
                  
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid" src="https://www.dropbox.com/s/50x1tlyfn2octls/2017-08-16_22.03.01.png?dl=1" alt="Third slide">
                </div>
                  
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid" src="https://www.dropbox.com/s/k8jacw6e8y6d05v/2020-01-01_00.00.20.png?dl=1" alt="Second slide">
                </div>
                
                  <div class="carousel-caption d-none d-md-block">
                    <h3>在這裡，可以享受到原汁原味的生存</h3>
                    <p>
                        不論是想要當個建築師，建造出讓人眼睛為之一亮的建築物<br>
                        或是當個征戰沙場的戰士，勇猛的在野外奮勇殺敵<br>
                        還是當個小小礦工，默默著在礦坑工作，最後擁有著大筆的財富<br>
                        當然，你也可以當個農夫，享受種田的樂趣。<br>
                        還有很多事物，等著去探索......<br>
                        心動了嗎? <br>
                        趕緊加入生存的行列吧!<br>
                      </p>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
<div class="container">
              <div class="row">
          <div class="col">
          <div class="card">
                  <div class="card-header">
                    <h5>資源區</h5>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-3">
                                <a href="https://mega.nz/#F!jTxxiQaQ!XH7ApLlvP-oWKoEXD1VCHQ" class="btn btn-block btn-primary" target="_blank">
                                    <i class="fas fa-file-download"></i>
                                    日常地圖集
                                  </a>
                              </div>
                              <div class="col-3">
                                <a href="https://www.dropbox.com/sh/87y1lv1vcuklm83/AABaTs8-ieUfH506fT2Y9Dsla?dl=0" class="btn btn-block btn-secondary" target="_blank">
                                    <i class="fas fa-file-download"></i>
                                    日常地圖集(舊)
                                </a>
                              </div>
                              <div class="col-3">
                                <a href="https://www.dropbox.com/request/7bS2GgI0dB08i6W4250r" class="btn btn-block btn-primary">
                                    <i class="fas fa-image"></i>
                                    提交照片
                                </a>
                              </div>
                              <div class="col-3">
                                <a href="https://www.dropbox.com/sh/vw365oncs4khbhx/AACBequcy0nN6Vxa3kU_LLsCa?dl=0" class="btn btn-block btn-primary">
                                    <i class="fas fa-image"></i>
                                    照片集
                                </a>
                              </div>
                          </div>
                      </div>
                </div>
          </div>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">日常世界地圖<small class="badge badge-secondary">2019年版</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>山莊地區</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="media/spawn-flat.png">
        </div>
        <div class="col">
            <img class="img-fluid" src="media/spawn-surface.png">
        </div>
    </div>
</div>