<section>
  <div class="jumbotron">
      <div class="text-center">
          <h1 class="display-1">Minecraft</h1>
          <hr class="my-2">
          <h2>首頁</h2> 
      </div>
  </div>
  <div class="container">
      <div class="row">
              <div class="col-md-12 col-lg my-1">
                  <a href="./daily.html" class="btn btn-success btn-lg btn-block">
                      <i class="fas fa-calendar-day"></i><br>
                      日常
                  </a>
              </div>
              <!--div class="col-md my-1">
                  <a href="./pixelmon_mod.html" class="btn btn-outline-primary btn-lg btn-block">Pixelmon</a>
              </div-->
              <div class="col-md-12 col-lg my-1">
                  <a href="./new_mods_play.html" class="btn btn-info btn-lg btn-block ">
                      <i class="fas fa-cubes"></i><br>
                      新模組
                  </a>
              </div>
              <div class="col-md-12 col-lg my-1">
                  <a href="./spigot.html" class="btn btn-outline-warning btn-lg btn-block">
                      <i class="fas fa-puzzle-piece"></i><br>
                      開放插件<small>(WIP)</small><br>
                  </a>
              </div>
              <div class="col-md-12 col-lg my-1">
                  <a href="./pvp.html" class="btn btn-danger btn-lg btn-block">
                      <i class="fas fa-shield-alt"></i><br>
                      PvP
                  </a>
              </div>
          </div>
      
      <div class="row">
          <div class="col">
              <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h1>遊玩時間表<small class="text-muted"><a href="https://docs.google.com/spreadsheets/d/1cptDT0hKheynDicI14yIr-dd52DohoFQcjfu3V8rYtw/edit?usp=sharing" target="_blank" class="badge badge-secondary">完整版</a></small></h1>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <iframe height="320" aria-label="Spreadsheet" class="w-100 embed-responsive-item" frameborder="0" src="https://docs.google.com/spreadsheets/u/0/d/1cptDT0hKheynDicI14yIr-dd52DohoFQcjfu3V8rYtw/htmlembed/sheet?headers=false&gid=0"></iframe>
                  </div>
                </div>
              </div>
                  </div>
              </div>
      </div>
      
      <div class="row">
          <div class="col">
          <div class="card">
                  <div class="card-header">
                    <h5>資源區</h5>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-3">
                                <a href="https://mega.nz/#F!vHIxUCBK!uTjbAWzsDNhpN_or0_T5OA" class="btn btn-block btn-primary" target="_blank">
                                    <i class="fas fa-file-download"></i>
                                    地圖下載
                                  </a>
                              </div>
                              <div class="col-3">
                                <a href="https://www.dropbox.com/sh/3zqxgdy5ib7ee6y/AABV6lbTWFWyXMSCsBstZTXva?dl=0" class="btn btn-block btn-secondary" target="_blank">
                                    <i class="fas fa-file-download"></i>
                                    地圖下載(舊)
                                </a>
                              </div>
                              <div class="col-3">
                                <a href="https://www.dropbox.com/request/7bS2GgI0dB08i6W4250r" class="btn btn-block btn-primary">
                                    <i class="fas fa-image"></i>
                                    提交照片
                                </a>
                              </div>
                              <div class="col-3">
                                <a href="https://www.dropbox.com/sh/hshk60sg4ctnq57/AABwtf6_26Mx4NUow0JDRh0ja?dl=0" class="btn btn-block btn-primary">
                                    <i class="fas fa-image"></i>
                                    照片集
                                </a>
                              </div>
                          </div>
                      </div>
                </div>
          </div>
      </div>
  </div>
</section>