<div class="jumbotron">
      <div class="text-center">
          <h1 class="display-1">開放插件</h1>
          <h3>24小時不停機</h3>
          <h3><span class="badge badge-secondary">籌備中</span></h3>
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>歡迎參與規劃! <small><a href="https://hackmd.io/i1UgFXLoSQGGr6eXS_Z8Tw?both" target="_blank">點我放大並開始編輯</a></small></h1>
            <iframe width="100%" height="500" src="https://hackmd.io/@fanlan1210/BJIpB3vGL" frameborder="0"></iframe>
        </div>
    </div>
</div>